
extends ../layout

block content
    h2.mt-5 Lista de todos los Departamentos 
    table.table
        thead
            tr
                th Nombre
                th Ciudad 
        tbody
            each departamento in departamentos
                tr
                    td=departamento.nombre
                    td=departamento.ciudad
                       