
extends ../layout

block content
    h2.mt-5 Lista de todos los departamentos 
        a.btn.btn-info.btn-sm(href="/departamentos/") Crear nuevo departamento
    table.table
        thead
            tr
                th Nombre
                th DNI 
                th Sexo
        tbody
            each empleado in empleados
                tr
                    td=empleado.nombre
                    td=empleado.dni
                    td=empleado.sexo
                    td 
                        a.btn.btn-danger.btn-sm.ml-1(href="/empleados/delete/"+empleado.id) Borrar
                        a.btn.btn-primary.btn-sm.ml-1(href="/empleados/edit/"+empleado.id) Editar                   